@import "./module/reset";

$main-font: "Bebas Neue", Arial, Arial, Helvetica, sans-serif;
$main-color: #65ba99;

html,
body {
    overscroll-behavior-y: contain;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header {
    background-color: #000;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        margin: auto 0 0 0;
        width: 160px;
    }
    &__right {
        margin: auto 0;
        display: flex;
    }
    &__socials {
        padding-top: 5px;
    }
}

.navigation {
    margin: auto 0;
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__link {
        font-family: $main-font;
        font-size: 30px;
        color: #fff;
        transition: all 0.1s linear;
        border-bottom: 1px solid transparent;
        margin-bottom: 10px;
        margin-top: 5px;
        &:hover {
            color: $main-color;
            border-bottom: 1px solid $main-color;
        }
    }
}

.socials {
    display: flex;
    &__icon {
        margin-right: 10px;
        padding: 3px;
        border-radius: 50%;
        background-color: #fff;
        height: fit-content;
        &:hover {
            background-color: #000;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__icon svg {
        transition: all 0.1s linear;
        display: block;
    }
    &__icon:hover path {
        fill: $main-color;
    }
}

//test
.banner {
    transition: height 1s linear;
    overflow: hidden;
    height: calc(100vh - 101px);
    height: calc(var(--vh, 1vh) * 100 - 101px);
}
.hidden {
    height: 0 !important;
}

.slider {
    overflow: hidden;
    max-width: 1035px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    img {
        width: inherit;
    }
    &__inner {
        display: flex;
    }
}

.fa-arrow-circle-right,
.fa-arrow-circle-left {
    font-size: 60px;
    color: #fff;
    top: 42%;
    position: absolute;
    z-index: 10;
    opacity: 0.7;
    cursor: pointer;
}

#rightbtn {
    right: 5%;
}

#leftbtn {
    left: 5%;
}

.cart-icon-container {
    width: fit-content;
    padding: 10px;
    transition: all 0.1s linear;
    border-radius: 50%;
}
.cart-icon-container:hover {
    background-color: $main-color;
}

.section {
    margin: 30px 0;
    font-weight: 500;
    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin: 30px 0;
    }
    h1 {
        font-size: 24px;
        margin-left: 13px;
    }
}

.item {
    line-height: 20px;
    width: 252px;
    margin: 0 13px 20px;
    h2 {
        font-size: 20px;
        margin: 20px 0 5px;
    }
}

.description {
    color: #73798c;
    font-size: 14px;
}

.price-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.price {
    font-weight: 700;
    margin: auto 0;
    font-size: 20px;
}

button {
    font-size: 15px;
    font-weight: 700;
    background-color: #7cfc00;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.1s linear;
    span {
        padding: 10px;
    }
    &:hover {
        background-color: #76e807;
        color: #fff;
    }
    &:focus {
        outline: none;
    }
}

.footer {
    background-color: #444b55;
    margin-top: auto;
    &__inner {
        display: flex;
        padding: 30px 0;
    }
    ul {
        margin-right: 60px;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
    }
    li {
        margin-bottom: 5px;
    }
    a {
        font-weight: 500;
        text-decoration: none;
        color: #dedfde;
        &:hover {
            color: #fff;
        }
    }
}

.cart h1 {
    text-align: center;
    margin-top: 90px;
}

.cart-items {
    margin: 45px 0;
    padding: 15px;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    li {
        display: flex;
        justify-content: center;
        justify-items: center;
        margin: 25px 0;
    }
    img {
        margin-right: 20px;
    }
}

.cart-items-inner {
    margin: auto 0;
}

.cart__empty {
    color: #ff0000;
    font-size: 60px;
    margin: 111px;
}

.counter {
    margin: auto 30px auto 75px;
    background-color: #f3f3f7;
    padding: 10px;
    border-radius: 15px;
    span {
        font-size: 20px;
        font-weight: 700;
        padding: 10px;
        color: #bdbdbd;
    }
}

.change-by-one {
    cursor: pointer;
    transition: color 0.1s linear;
    &:hover {
        color: #000;
    }
}

.fa-trash {
    margin: auto 55px;
    font-size: 30px;
    color: #000;
    cursor: pointer;
}

.all-sum {
    h2 {
        font-size: 30px;
    }
    .price {
        color: #ff0000;
        font-size: 30px;
    }
    button {
        background-color: #ff0000;
        color: #fff;
        margin-left: 70%;
        margin-top: 10px;
    }
}

.all-sum-outer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

@import "./module/transitions";
@import "./module/mobile";
