@import "./module/reset";

$main-font: "Bebas Neue", Arial, Arial, Helvetica, sans-serif;
$main-color: #65ba99;

html,
body {
    overscroll-behavior-y: contain;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.page {
    background-color: $main-color;
}

.page-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(-1%);
    transition: opacity 300ms, transform 300ms;
}

.page-exit {
    opacity: 0.5;
    transform: translateX(0);
}

.page-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 300ms, transform 1s;
}

.header {
    background-color: #000;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        margin: auto 0 0 0;
        width: 160px;
    }
    &__right {
        margin: auto 0;
        display: flex;
    }
    &__socials {
        padding-top: 5px;
    }
}

.navigation {
    margin: auto 0;
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__link {
        font-family: $main-font;
        font-size: 30px;
        color: #fff;
        transition: all 0.1s linear;
        border-bottom: 1px solid transparent;
        margin-bottom: 10px;
        margin-top: 5px;
        &:hover {
            color: $main-color;
            border-bottom: 1px solid $main-color;
        }
    }
}

.socials {
    display: flex;
    &__icon {
        margin-right: 10px;
        padding: 3px;
        border-radius: 50%;
        background-color: #fff;
        height: fit-content;
        &:hover {
            background-color: #000;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__icon svg {
        transition: all 0.1s linear;
        display: block;
    }
    &__icon:hover path {
        fill: $main-color;
    }
}

//test
.banner {
    transition: height 1s linear;
    overflow: hidden;
    height: calc(100vh - 101px);
    height: calc(var(--vh, 1vh) * 100 - 101px);
}
.hidden {
    height: 0 !important;
}

.slider {
    overflow: hidden;
    max-width: 1035px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    img {
        width: inherit;
    }
    &__inner {
        display: flex;
    }
}

.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 100vh; /* (img-height / img-width * container-width) */
    /* (556 / 556 * 1000) */
}

.fa-arrow-circle-right,
.fa-arrow-circle-left {
    font-size: 60px;
    color: #fff;
    top: 42%;
    position: absolute;
    z-index: 10;
    opacity: 0.7;
    cursor: pointer;
}

#rightbtn {
    right: 5%;
}

#leftbtn {
    left: 5%;
}

.cart-icon-container {
    width: fit-content;
    padding: 10px;
    transition: all 0.1s linear;
    border-radius: 50%;
}
.cart-icon-container:hover {
    background-color: $main-color;
}

.section {
    font-weight: 500;
    margin-bottom: 50px;
    &__inner {
        display: flex;
        flex-wrap: wrap;
        max-width: 960px;
        margin: 30px auto;
    }
    h1 {
        font-size: 48px;
        font-weight: 300;
        font-family: "Bebas Neue", Arial, Arial, Helvetica, sans-serif;
        margin-top: 100px;
        color: #ffffff;
        letter-spacing: 25px;
    }
}

.item {
    position: relative;
    padding: 20px 20px;
    background: #fff;
    outline: 1px solid;
    line-height: 20px;
    width: 240px;
    h2 {
        font-size: 20px;
        margin: 20px 0 5px;
    }
    img {
        width: 200px;
    }
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 12px 12px 2px 1px RGB(0 0 0 / 20%);
    }
}

.description {
    color: #73798c;
    font-size: 14px;
}

.price-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.price {
    font-weight: 700;
    margin: auto 0;
    font-size: 20px;
}

button {
    font-size: 15px;
    font-weight: 700;
    background-color: #7cfc00;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.1s linear;
    span {
        padding: 10px;
    }
    &:hover {
        background-color: #76e807;
        color: #fff;
    }
    &:focus {
        outline: none;
    }
}

.footer {
    background-color: #444b55;
    margin-top: auto;
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 30px 0;
    }
    ul {
        margin-left: 7px;
        margin-bottom: 10px;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
    }
    a {
        font-weight: 500;
        text-decoration: none;
        color: #dedfde;
        &:hover {
            color: #fff;
        }
    }
}

.cart h1 {
    text-align: center;
    margin-top: 90px;
}

.cart-items {
    margin: 45px 0;
    padding: 15px;
    background-color: #fff;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    li {
        display: flex;
        justify-content: space-around;
        justify-items: center;
        margin: 25px 0;
        img {
            margin: auto 10px;
        }
        .price {
            margin: auto 10px;
        }
    }
    &-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.cart__empty {
    color: #ff0000;
    font-size: 60px;
    margin: 111px;
}

.return-button {
    display: flex;
    svg {
        width: 30px;
        height: 30px;
        margin: auto 5px;
    }
    span {
        margin: auto;
    }
}

.cart-empty-icon {
    display: flex;
    flex-direction: column;
    margin: 70px;
    svg {
        margin: auto;
    }
    span {
        color: #fff;
        font-size: 30px;
        margin-top: 20px;
        text-align: center;
    }
}

.counter {
    margin: auto 0 auto 5px;
    background-color: #f3f3f7;
    padding: 10px;
    border-radius: 15px;
    span {
        font-size: 20px;
        font-weight: 700;
        padding: 10px;
        color: #bdbdbd;
    }
}

.change-by-one {
    cursor: pointer;
    transition: color 0.1s linear;
    &:hover {
        color: #000;
    }
}

.fa-trash {
    margin: auto 10px;
    font-size: 30px;
    color: #000;
    cursor: pointer;
}

.all-sum {
    h2 {
        font-size: 30px;
    }
    .price {
        color: #ff0000;
        font-size: 30px;
    }
    button {
        background-color: #ff0000;
        color: #fff;
        margin-left: 70%;
        margin-top: 10px;
    }
}

.all-sum-outer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

//Loader
#loader-wrapper {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
  }
  #loader {
    display:block;
    position: relative;
    top:50%;
    left:50%;
    width:150px;
    height:150px;
    margin:-75px 0 0 -75px;
    border:3px solid transparent;
    border-top-color:white;
    border-radius:100%;
    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
    z-index:1001;
  }
  #loader:before {
    content:"";
    position: absolute;
    top:5px;
    left:5px;
    right:5px;
    bottom:5px;
    border:3px solid transparent;
    border-top-color: yellow;
    border-radius:100%;
    -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
  }
  #loader:after {
    content:"";
    position: absolute;
    top:12px;
    left:12px;
    right:12px;
    bottom:12px;
    border:3px solid transparent;
    border-top-color:orange;
    border-radius:100%;
    -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
  }
  @-webkit-keyframes spin {
    0%   { 
      -webkit-transform: rotate(0deg); 
        -ms-transform: rotate(0deg); 
            transform: rotate(0deg);
    }
    100% { 
      -webkit-transform: rotate(360deg); 
        -ms-transform: rotate(360deg); 
            transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0%   { 
      -webkit-transform: rotate(0deg); 
        -ms-transform: rotate(0deg); 
            transform: rotate(0deg);
    }
    100% { 
      -webkit-transform: rotate(360deg); 
        -ms-transform: rotate(360deg); 
            transform: rotate(360deg);
    }
  }
  
  #loader-wrapper .loader-section {
    position:fixed;
    top:0;
    background: #000;
    width:51%;
    height:100%;
    z-index:1000;
  }
  
  #loader-wrapper .loader-section.section-left {
    left:0
  }
  #loader-wrapper .loader-section.section-right {
    right:0;
  }
  
  /* Loaded Styles */
  .loaded #loader-wrapper .loader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
  }
  .loaded #loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
  }
  .loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  .loaded #loader-wrapper {
    visibility: hidden;
    transform:translateY(-100%);
    transition: all 0.3s 1s ease-out;
  }

@import "./module/transitions";
@import "./module/mobile";
